<header>
  <div class="logo mobile-device">
    <img src='assets/images/userlist-logo.png'>
  </div>
  <!--Meeting ID-->
  <div class="username mobile-device">
    <span>Meeting ID</span>{{vidyoClientService.meetingRoom}}</div>
  <!--Total members-->
  <div class="username mobile-device">
    <span>Total Member</span>({{vidyoClientService.users.length}})</div>
  <!--User name-->
  <div class="username">
    <span>User Name</span>{{vidyoClientService.userName}}</div>
  <!--Logout-->
  <div class="logout">
    <a (click)="logout()">
      <img src="assets/images/logout.png" tabindex="3" (keyup.enter)="logout()"/>
    </a>
  </div>
</header>